authorize endpoint doesn't seem to support "token" response type (implicit grant)

When response_type = token is provided to the authorize endpoint, the resulting redirect after authorization confirmation is a "code" (just like response_type=code). It would appear the implicit grant flow as described in section 4.2.1 of RFC 6749 is not implemented. 

Duplicate of #42, and already solved with PR #59.

Also, this project is dead. If you would like to see any progress, please contribute issues and PR's to the two most lively forks:
* @MapMyFitness ([here](https://github.com/mapmyfitness/django-oauth2-provider))
* @glassresistor ([here](https://github.com/glassresistor/django-oauth2-provider))

Thanks!

@blag Thanks very much for letting me know. What is the likelihood that either of these fork owners will take over the PyPi component and update it? Isn't the PyPi version still based on cafeeinehit's repo?

Eric please use this instead
https://django-oauth-toolkit.readthedocs.org/en/0.7.0/

I should really remove myself from watching this everyone should just move
to toolkit its working for us great.

On Wed, Feb 25, 2015 at 5:37 PM, Eric Swenson <notifications@github.com>
wrote:

> @blag <https://github.com/blag> Thanks very much for letting me know.
> What is the likelihood that either of these fork owners will take over the
> PyPi component and update it? Isn't the PyPi version still based on
> cafeeinehit's repo?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/caffeinehit/django-oauth2-provider/issues/119#issuecomment-76106496>
> .
>



-- 
Mikela


@blag why not just assign some maintainers, or transfer this to someone willing to continue it? I'd be interested if so. Thank you.

Or maybe cc @andy-a . Not sure who owns this at this point. Thanks!

@nicholasserra: You'd have to ask CaffineHit or one of their employees. I am not affiliated with them in any way, nor am I responsible for this project, and I don't have any permissions to do anything in this repo except create/comment on issues. I used this app once and I occasionally tell people to use other forks/projects. 😄 

I am now using Django Oauth Toolkit and can attest that it's awesome! Highly recommended.

@blag thanks for the info :D 